{% extends "main/base.html" %}
{% load static %}
{% block title %}Post Edit{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/form.css' %}">{% endblock %}
{% block scripts %}<script src="{% static 'js/thumbnail_preview.js' %}"></script>{% endblock %}
{% block content %}
    <div class="panel_large">
            <form enctype="multipart/form-data" action="/edit-benefit/{{benefit.id}}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Make a benefit post</legend>
                <div class="formInputSet">
                    <label class="b" for="title">Post Title</label>
                    <input type="text" name="title" id="title" placeholder="Post Title" value="{{benefit.title}}">
                </div>
                <div class="formInputSet">
                    <label class="b" for="summary">Post Summary</label>
                    <textarea name="summary" id="summary" placeholder="Post Summary">{{benefit.summary}}</textarea>
                </div>
                <div class="formInputSet">
                    <label class="b" for="description">Post Description</label>
                    <textarea name="description" id="description" placeholder="Post Description">{{benefit.description}}</textarea>
                </div>
                <div class="formInputSet">
                    <label class="b" for="address_info">Address Information</label>
                    <input type="text" name="address_info" id="address_info" placeholder="Address Information" value="{{benefit.address_info}}">
                </div>
                </fieldset>
            <fieldset>
                <legend>Thumbnail photo</legend>    
                <div class="formInputSet">
                    <label class="b" for="thumbnail">Upload a thumbnail for the post</label>
                    <input type="file" accept="image/*" name="thumbnail" id="thumbnail" onchange="loadPreview(event)">
                </div>
                {% if benefit.image %}
                    <img id="post_thumbnail" src="{{benefit.image.url}}">
                {% else %}
                    <img id="post_thumbnail" src="{% static 'images/placeholder/placeholder_thumbnail.png' %}">
                {% endif %}
            </fieldset>
            <fieldset>
                <legend>Save information?</legend>
                <div class="formInputSet">
                    <a href="/benefits/"><button type="button" class="btn btn-danger">Discard Changes</button></a>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </fieldset>
            </form>
        </div>
{% endblock %}